.form{
  background-color: white;
  border-radius: 12px; 
  width: 90vw;
  max-width: 640px;
  padding: 30px;
  margin: 10px auto;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form div{
  display: flex;
  flex-direction: column;
}

.form label{
  font-weight: bold;
  margin-bottom: 8px;
}

.form input,
.form textarea{
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
  padding: 3px 3px;
  outline: none;
}

.form input:focus,
.form textarea:focus{
  border-color: black;
}
 
